{% extends 'layout.html' %}
{% block title %}
<title> Flutterwave Test </title>
{% endblock %}
{% block body %}
<div class="content-section-b">
    <div class="text-center wrap_title">
        <h4>VERIFY BVN</h4>
    </div>
    {% from "includes/_formhelpers.html" import render_field %}
    <div>
        {% include 'includes/_messages.html' %}
        <form action="/verify" method="POST">
            <div class="row"><p class="text text-info text-center">All Information Provided Must Be Correct BVN Information</p></div>
            <div class="form-group input-group">
                {{render_field(form.lastName, class="form-control")}}
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil form-control-feedback"></i></span>
            </div>


            <div class="form-group input-group">
                {{render_field(form.phoneNumber, class="form-control")}}
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone form-control-feedback"></i></span>
            </div>


            <div class="form-group input-group">
                {{render_field(form.bvnText, class="form-control")}}
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil form-control-feedback"></i></span>
            </div>

            <input type="submit" class="btn btn-primary pull-right" value="Verify">
        </form>
        {% if error %}
        <div class="row col-md-9">
            <p class="error text text-danger">{{ error }}</p>
        </div>
        {% endif %}
        {% if success %}
        <div class="row col-md-9">
            <p class="error text text-success">{{ success }}</p>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}